
.clippathl{
  clip-path: polygon(0 0, 100% 0, 66% 100%, 0% 100%);
}
.clippathr{
  clip-path:polygon(34% 0, 100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 767px) {
  .clippathl,
  .clippathr {
    clip-path: none;
  }
}
.orelega-one-regular {
  font-family: "Orelega One", serif;

}
